<div class="app-menu navbar-menu">
  <!-- LOGO -->
  <div class="navbar-brand-box">
    <a routerLink="/" class="logo logo-dark">
      <span class="logo-sm">
        <img src="assets/images/logo.png" alt="" height="22">
      </span>
      <span class="logo-lg">
        <img src="assets/images/logo-dark.png" alt="" height="17">
      </span>
    </a>
    <a routerLink="/" class="logo logo-light">
      <span class="logo-sm">
        <img src="assets/images/logo.png" alt="" height="60">
      </span>
      <span class="logo-lg">
        <img src="assets/images/logo.png" alt="" height="100">
      </span>
    </a>
    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
      <i class="ri-record-circle-line"></i>
    </button>
  </div>

  <div id="scrollbar">
    <div class="container-fluid">
      <ul class="navbar-nav" id="navbar-nav">
        <li class="menu-title"><span>Home</span></li>

        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link menu-link">
            <i class="ri-dashboard-2-line"></i>
            <span>Dashboard</span>
          </a>
        </li>

        @if (tokenService.hasRole('Super-Admin')) {

        <li class="nav-item">
          <a class="nav-link menu-link" href="#sidebarSeguridad" data-bs-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="sidebarSeguridad">
            <i class="ri-shield-keyhole-line"></i>
            <span>Seguridad</span>
          </a>
          <div class="collapse menu-dropdown" id="sidebarSeguridad">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a routerLink="/users" routerLinkActive="active" class="nav-link menu-link">
                  Usuarios
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/roles" routerLinkActive="active" class="nav-link menu-link">
                  Roles
                </a>
              </li>
            </ul>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
</div>

<!-- Vertical Overlay -->
<div class="vertical-overlay" (click)="closeOnOverlay()"></div>