<div class="app-menu navbar-menu">
  <!-- LOGO -->
  <div class="navbar-brand-box">
    <a routerLink="/" class="logo logo-dark">
      <span class="logo-sm">
        <img src="assets/images/logo-sm.png" alt="" height="22">
      </span>
      <span class="logo-lg">
        <img src="assets/images/logo-dark.png" alt="" height="17">
      </span>
    </a>
    <a routerLink="/" class="logo logo-light">
      <span class="logo-sm">
        <img src="assets/images/logo-sm.png" alt="" height="22">
      </span>
      <span class="logo-lg">
        <img src="assets/images/logo-light.png" alt="" height="17">
      </span>
    </a>
    <button type="button"
      class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
      id="vertical-hover">
      <i class="ri-record-circle-line"></i>
    </button>
  </div>

  <div id="scrollbar">
    <div class="container-fluid">
      <ul class="navbar-nav" id="navbar-nav">

        <li class="menu-title"><span>Administración</span></li>

        <li class="nav-item">
          <a routerLink="/users" routerLinkActive="active" class="nav-link menu-link">
            <i class="ri-group-line"></i>
            <span>Usuarios</span>
          </a>
        </li>

        <li class="menu-title"><span>Catálogos</span></li>

        <li class="nav-item">
          <a routerLink="/areas" routerLinkActive="active" class="nav-link menu-link">
            <i class="ri-building-2-line"></i>
            <span>Áreas</span>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/responsible-officer" routerLinkActive="active" class="nav-link menu-link">
            <i class="ri-user-star-line"></i>
            <span>Funcionarios</span>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/parameters" routerLinkActive="active" class="nav-link menu-link">
            <i class="ri-settings-3-line"></i>
            <span>Parámetros</span>
          </a>
        </li>

        <li class="menu-title"><span>Locadores</span></li>

        <li class="nav-item">
          <a routerLink="/landlords" routerLinkActive="active" class="nav-link menu-link">
            <i class="ri-user-line"></i>
            <span>Locadores</span>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/landlord-service" routerLinkActive="active" class="nav-link menu-link">
            <i class="ri-file-list-3-line"></i>
            <span>Servicios</span>
          </a>
        </li>

        <li class="menu-title"><span>Constancias</span></li>

        <li class="nav-item">
          <a routerLink="/request-certificates" routerLinkActive="active" class="nav-link menu-link">
            <i class="ri-file-add-line"></i>
            <span>Solicitudes</span>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/certificates" routerLinkActive="active" class="nav-link menu-link">
            <i class="ri-award-line"></i>
            <span>Constancias</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>

<!-- Vertical Overlay -->
<div class="vertical-overlay" (click)="closeOnOverlay()"></div>
